{% extends "layout.html" %}

{% block title %}
    Student {{ student.name }}
{% endblock title %}


{% block content %}
    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#student").addClass("active");
		});
	</script>


    <style>
        #grade-form {
            display:none;
        }
        @media only screen and (max-width: 600px) {
          .grade-buttons {
            margin-top:10px;;
          }
          .img-grade {
            display:none;
          }
        }
        #live-search-box{
           text-align:center;
        }
    </style>


    <div class="container" style="margin-top:50px;">
        <h1 class="row d-flex justify-content-center">Student {{ student.name }}</h1>
    </div>



    <div class="row py-5 px-4" >
        <div class="col-md-8 mx-auto">
                <h2>Grade</h2>
                <div class="card" style="margin:30px;">
	              <div class="card-body">
                      <div id="original-grade">
	            	    <img style="height:37px;margin-bottom:5px;margin-right:5px;" src="{{url_for('static',filename='images/class_icon.jpg')}}">
                        <a style="color:black;text-decoration:none;" href="{{ url_for('student_bp.landing_page_grade',grade=student.grade.name) }}">
                            <strong style="margin-left:15px;" id="grade-div">{{ student.grade.name }}</strong>
                        </a>
                        <button onclick="hideFunction()" style="margin-right:10px" class="btn btn-primary  float-right">Edit</button>
                      </div>
                        <div id="grade-form">
                            <form method="post" action="{{ url_for('student_bp.change_grade',student_id=student.id) }}" class="form-inline needs-validation">
                                <img class="img-grade" style="height:37px;margin-bottom:5px;margin-right:5px;" src="{{url_for('static',filename='images/class_icon.jpg')}}">
                                <select style="margin-left:10px;" class="form-control" name="grade" required>
                                  {% for grade in grades %}
                                    <option>{{ grade.name }}</option>
                                  {% endfor %}
                                </select>
                              <span class="grade-buttons" style="margin-left:25px;">
                                <button onclick="hideFunction()" type="button" style="margin-left:10px" class="btn btn-secondary  float-right">Cancel</button>
                                <button type="submit" style="margin-left:10px" class="btn btn-success  float-right">Apply</button>
                              </span>
                            </form>

                        </div>
	              </div>
            </div>
        </div>
    </div>

    <div class="row px-4" style="margin-top:-30px;">
        <div class="col-md-8 mx-auto">
           <h2>Books</h2>
        </div>
    </div>

    <div class="container" style="margin-top:20px;">
        <div class="row d-flex justify-content-center">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" id="live-search-box" type="search" placeholder="Search for book" aria-label="Search">
            </form>
        </div>
    </div>

     <div style="margin-top:30px;" class="d-flex justify-content-center">
		<div class="collapse " id="new-book">
		  <div class="card card-body ">
            <strong class="" style="padding-bottom:5px;font-size: 18px;">Rent Book:</strong>
		    <form class="form-inline needs-validation" action="{{url_for('student_bp.rent_book',student_id=student.id)}}" method="post" style="margin-top:10px;">
			  <input name="code"  type="number" class="form-control mb-2 mr-sm-2" id="validationCustom01" placeholder="Code">
              <button type="submit" class="btn btn-primary mb-2">Rent</button>
			</form>
		  </div>
		</div>
	</div>

    <div style="margin-top:20px;" class="d-flex justify-content-center">
	  <button id="add-book" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#new-book" aria-expanded="false" aria-controls="new-book">
	    + Rent Book
	  </button>
      <a href="{{ url_for('student_bp.return_all',student_id=student.id) }}" style="margin-left:10px;" class="btn btn-danger" type="button" >
	    Return all Books
	  </a>
	</div>

    <div class="container" style="padding-top:60px;">
        <div class="col-sm-10 col-lg-12 mx-auto">
            <table class="table" id="books-table">
              <thead class="thead-dark">
                <tr class="header">
                  <th scope="col">#</th>
                  <th scope="col">Type</th>
                  <th scope="col">Code</th>
                  <th scope="col">Return</th>
                </tr>
              </thead>
              <tbody>
                {% for book in student.books %}
                    <tr>
                      <th scope="row">{{ book.id }}</th>
                      <td class="search-term">{{ book.book_type.name }}</td>
                      <td>{{ book.code}}</td>
                      <td><a class="btn btn-success btn-sm" href="{{ url_for('student_bp.return_book',student_id=student.id,book_id=book.id) }}">Return</a></td>
                    </tr>
                {% endfor %}

              </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="ar_u_s" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            After deleting user is, no chance to take it back.
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('student_bp.delete_student',student_id=student.id) }}" type="button" class="btn btn-danger">Delete</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center" style="margin-top:130px;">
        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#ar_u_s">Delete Student</button>
    </div>



    <script>

        $(document).ready(function(){
          $("#live-search-box").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#books-table tr:not(.header)").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

        function hideFunction() {
          var x = document.getElementById("original-grade");
          var y = document.getElementById("grade-form");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
          } else {
            x.style.display = "none";
            y.style.display = "block";
          }
        }

        $(document).ready(function(){
	     $('#add-book').on('click', function () {
	      var text=$('#add-book').text();
	      if(text === "- Add Book"){
	        $(this).html('+ Add Book');
	      } else{
	        $(this).text('- Add Book');
	     }
	    });
	    });
    </script>


{% endblock content %}