{% extends "layout.html" %}

{% block title %}
    Učebnice {{ book_type.name }}
{% endblock title %}


{% block content %}
    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#book").addClass("active");
		});
	</script>

    <style>

        @media only screen and (max-width: 700px) {
            .book-list {
                margin-top:260px;
                padding-top:15px;
            }
            .student-card {
                margin:10px;
            }
            .utilities-buttons {
                display:none;
            }

            #myInput {
                margin: auto;
                width: 50%;
                padding: 10px;
            }
        }

    </style>




    <div class="container" style="padding-top:100px;">
        <div class="row">
            <div class="card student-card col-md-4 col-lg-4 col-sm-12 col-xs-12" style="height:215px;">
              <div class="card-body">
                <h3 class="card-title" >{{ book_type.name }}</h3>
                <div>
                    <div>
                        <h6 class="text-muted" style="margin-top:-7px;">Jozef kukuricúdus</h6>
                    </div>
                    <div style="padding-top:3px;">
                        <strong>Požičané:</strong>
                        <label>{{ crbooks }}</label>
                    </div>
                    <div style="margin-top:-8px;">
                        <strong>Na sklade: </strong>
                        <label>{{ cfbooks }}</label>
                    </div>
                    <div style="margin-top:-8px;">
                        <strong>Celkovo: </strong>
                        <label>{{ ctbooks }}</label>
                    </div>
                </div>
              </div>
              <div style="margin-top:30px;" class="d-flex justify-content-center">
	            	<div class="collapse col-12" id="new-book">
	            	  <div class="card card-body">
                        <strong class="" style="padding-bottom:5px;font-size: 18px;">Nová učebnica</strong>
	            	    <form class=" needs-validation" action="#" method="post" style="margin-top:10px;">
	            		  <input name="name"  type="text" class="form-control mb-2 mr-sm-2" id="validationCustom01" placeholder="Názov">
                          <input name="author"  type="text" class="form-control mb-2 mr-sm-2" id="validationCustom01" placeholder="Autor">
                          <button type="submit" class="btn btn-success float-right">Pridať</button>
                        </form>
	            	  </div>
	            	</div>
	           </div>
               <div class="card card-body d-block d-sm-none" style="margin:-15px;margin-top:5px;">
                        <strong class="" style="padding-bottom:5px;font-size: 18px;">Nová učebnica</strong>
	            	    <form class="needs-validation" action="#" method="post" style="margin-top:10px;">
	            		  <input name="name"  type="text" class="form-control mb-2 mr-sm-2" id="validationCustom01" placeholder="Názov">
                          <input name="author"  type="text" class="form-control mb-2 mr-sm-2" id="validationCustom01" placeholder="Autor">
                          <button type="submit" class="btn btn-success float-right">Pridať</button>
	            		</form>
	            	  </div>
               <div style="margin-top:20px;" class="d-flex justify-content-center">
                    <button id="add-book" class="btn btn-primary utilities-buttons" onclick="moveModal" type="button" data-toggle="collapse" data-target="#new-book" aria-expanded="false" aria-controls="new-book">
	                   + Pridať učebnicu
	                </button>

               </div>
            </div>
            <div id="book-list" class="book-list col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div  id="book-list2">
                    <input placeholder="Vyhľadať učebnicu" type="text" class="form-control" style="width:200px;" id="myInput">
                </div>

                <table class="table" style="margin-top:20px;" id="students-table">
                  <thead class="thead-dark">
                    <tr class="header">
                      <th scope="col">#</th>
                      <th scope="col">Kód</th>
                      <th scope="col">Študent</th>
                      <th scope="col">Vrátiť</th>
                      <th scope="col">Odstrániť</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for book in book_type.books %}
                        {% if book.student %}
                            <tr class="table-danger">
                              <th scope="row">{{ book.id }}</th>
                              <td>{{ book.code }}</td>
                              <td>{{ book.student.name }}</td>
                              <td><a class="btn btn-sm btn-danger" href="#">Vrátiť</a></td>
                              <td><a class="btn btn-sm btn-danger" href="#">Odstrániť</a></td>
                            </tr>
                        {% else %}
                            <tr class="table-success">
                              <th scope="row">{{ book.id }}</th>
                              <td>{{ book.code }}</td>
                              <td>{{ book.student.name }}</td>
                              <td><a class="btn btn-sm btn-info" href="#">Vrátiť</a></td>
                              <td><a class="btn btn-sm btn-danger" href="#">Odstrániť</a></td>
                            </tr>
                        {% endif %}

                    {% endfor %}

                  </tbody>
                </table>
            </div>
        </div>
    </div>




    <script>

        $(document).ready(function(){
          $("#live-search-box").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#books-table tr:not(.header)").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

        function hideFunction() {
          var x = document.getElementById("original-grade");
          var y = document.getElementById("grade-form");
          if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
          } else {
            x.style.display = "none";
            y.style.display = "block";
          }
        }

        $(document).ready(function(){
	     $('#add-book').on('click', function () {
	      var text=$('#add-book').text();
	      if(text === "- Pridať učebnicu"){
	        $(this).html('+ Pridať učebnicu');
	      } else{
	        $(this).text('- Pridať učebnicu');
	     }
	    });
	    });

	   $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable div").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

    </script>

{% endblock content %}