{% extends "layout.html" %}

{% block title %}
    All books
{% endblock title %}


{% block content %}
    <script>
		$(document).ready(function(){
  		 	$(".active").removeClass("active");
  		 	$("#book").addClass("active");
		});
	</script>

    <style>
        .grade-link {
            color:black;
        }
        .grade-link:hover {
            color:black;
            text-decoration: none;
        }
        #live-search-box{
           text-align:center;
        }
    </style>

    <div class="container" style="margin-top:70px;">
        <div class="row d-flex justify-content-center">
            <h1>Books</h1>
        </div>
    </div>

    <div class="container" style="margin-top:40px;">
        <div class="row d-flex justify-content-center">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" id="live-search-box" type="search" placeholder="Search for book" aria-label="Search">
            </form>
        </div>
    </div>

    <div class="container" style="padding-top:20px;">
        <div class="row d-flex justify-content-center">
            <a href="{{ url_for('book_bp.books_state',book_state='free') }}" class="grade-link">
                <div class="card center" style="margin:10px;">
                  <div class="card-body">
                    Free
                  </div>
                </div>
            </a>
            <a href="{{ url_for('book_bp.books_state',book_state='rent') }}" class="grade-link">
                <div class="card center" style="margin:10px;">
                  <div class="card-body">
                    Rent
                  </div>
                </div>
            </a>
            <a href="{{ url_for('book_bp.landing_page') }}" class="grade-link">
                <div class="card center" style="margin:10px;">
                  <div class="card-body">
                    All
                  </div>
                </div>
            </a>
        </div>
    </div>


    <div style="margin:30px;" class="d-flex justify-content-center">
			<div class="collapse " id="add-book">
			  <div class="card card-body ">
                <strong class="" style="padding-bottom:5px;font-size: 18px;">New book:</strong>
			    <form class="form-inline needs-validation" action="{{ url_for('book_bp.add_book') }}" method="post" style="margin-top:10px;">
				  <input name="book_code"  type="number" class="form-control mb-2 mr-sm-2" id="validationCustom01" placeholder="Code">
                    <select class="form-control" name="book_type" style="margin-right:10px;margin-bottom:10px;" required>
                      {% for book_type in book_types %}
                        <option>{{ book_type.name }}</option>
                      {% endfor %}
                    </select>
                  <button type="submit" class="btn btn-primary mb-2">Add</button>
				</form>
			  </div>
			</div>

		</div>
        <div style="margin:30px;" class="d-flex justify-content-center">
			<div class="collapse " id="add-book-type">
			  <div class="card card-body ">
                <strong class="" style="padding-bottom:5px;font-size: 18px;">New book type:</strong>
			    <form class="form-inline needs-validation" action="{{ url_for('book_bp.add_book_type') }}" method="post" style="margin-top:10px;">
				  <input name="book_type"  type="text" class="form-control mb-2 mr-sm-2" placeholder="Book Type">
                  <button type="submit" class="btn btn-primary mb-2">Add</button>
				</form>
			  </div>
			</div>

		</div>
        <div class="d-flex justify-content-center">
		  <button id="add-book-b" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add-book" aria-expanded="false" aria-controls="add-book">
		    + Add new Book
		  </button>
          <button style="margin-left:10px;" id="add-book-type-b" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#add-book-type" aria-expanded="false" aria-controls="add-book-type">
		    + Add new Book Type
		  </button>
		</div>


    <div class="container" style="padding-top:60px;">
        <table class="table" id="books-table">
          <thead class="thead-dark">
            <tr class="header">
              <th scope="col">#</th>
              <th scope="col">Type</th>
              <th scope="col">Code</th>
              <th scope="col">Student</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for book in books %}
                {% if book.student_id == None %}
                    <tr class="table-success">
                      <th scope="row">{{ book.id }}</th>
                      <td class="search-term">{{ book.book_type.name }}</td>
                      <td>{{  book.code }}</td>
                      <td>{{ book.student.name }}</td>
                      <td><a class="btn btn-danger btn-sm" href="{{ url_for('book_bp.delete_book',book_id=book.id) }}">Delete</a></td>
                    </tr>
                {% else %}
                    <tr class="table-danger">
                      <th scope="row">{{ book.id }}</th>
                      <td class="search-term">{{ book.book_type.name }}</td>
                      <td>{{  book.code }}</td>
                      <td>{{ book.student.name }}</td>
                      <td><a class="btn btn-danger btn-sm" href="{{ url_for('book_bp.delete_book',book_id=book.id) }}">Delete</a></td>
                    </tr>
                {% endif %}
            {% endfor %}

          </tbody>
        </table>

    </div>

    <script>

        $(document).ready(function(){
          $("#live-search-box").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#books-table tr:not(.header)").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

     $(document).ready(function(){
	 $('#add-book-b').on('click', function () {
	  var text=$('#add-book-b').text();
	  if(text === "- Add Book"){
	    $(this).html('+ Add Book');
	  } else{
	    $(this).text('- Add Book');
	 }
	});
	});

	$(document).ready(function(){
	 $('#add-book-type-b').on('click', function () {
	  var text=$('#add-book-type-b').text();
	  if(text === "- Add new Book Type"){
	    $(this).html('+ Add new Book Type');
	  } else{
	    $(this).text('- Add new Book Type');
	 }
	});
	});
    </script>

{% endblock content %}